.Section {
    width: 100%;
    height: 60vh;
    position: relative;
    top: 0px;
    z-index: 300;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 60vh;
    width: 100%;
    position: relative;
}

.Background {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.Background img {
    width: 150%;
    height: 100%;
    object-fit: cover;
    animation: moveHorizontal 40s infinite linear;
}
@keyframes moveHorizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%); /* 左に20%移動 */
    }
}


.Title {
    place-self: center;
    font-family: var(--font-family-gothic);
    grid-column: 1/-1;
    grid-row: 1/7;
    width: 90%;
    height: 90%;
    color: white;
    z-index: 2;
    display: grid;
    justify-items: start;
    grid-auto-rows: min-content;
    
}
.Title h1 {
    font-size: 3rem;
    line-height: 1;
    animation-name:slideTextX50;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity: 0;
}

.Title h2 {
    margin: 3rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-family-gothic);
    animation: slideTextX30 1s 0.5s forwards;
    opacity: 0;
}
.Title h2 br {
    display: none;
}


@keyframes slideTextX50 {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTextX30 {
    from {
        transform: translateX(-30%); 
        opacity: 0;
    }
  
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }

@media (min-width: 581px) {
    .Title {
        grid-row: 2/5;
    }
    .Title h1 {
        font-size: min(6rem, 12vw);
    }
    .Title h2 {
        font-size: min(1.5rem, 3vw);
        margin: 3rem 0 0 0;
    }
    .Title br {
        display: block;
    }
    .Title p {
        width: 50%;
        margin-top: 2rem;
        font-size: 1rem;
        line-height: 1.8;
    }
}

@media (min-width: 1081px) {
    .Grid {
        grid-template-columns: repeat(12, 1fr);
    }
    .Title {
        grid-column: 1/-1;
        grid-row: 1/5;
    }
    .Title h1 {
        font-size: 8rem;
    }
    .Title h2 {
        font-size: 1.5rem;
    }
    .Title p {
        width: 50%;
        margin-top: 3rem;
        font-size: 1.2rem;
        line-height: 2;
    }
}
