.section03 {
    width: 100%;
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    grid-auto-rows: var(--grid-auto-rows);
    color: var(--color-primary);
    opacity: 0;
}

.animate {
    animation: fadeUpAnime 1s forwards;
}

.ImageCardArea {
    grid-column: 7 / 13;
    grid-row: 1 / 13;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: var(--grid-auto-rows);
    
}

.ImageCard
 {
    width: calc((100vw / 6) + (100vw / 24));
    height: calc(5vw * 4);
    border-radius: 2vw;
}

.ImageCard:nth-child(1) {
    grid-column: 2 / 4;
    grid-row: 2 / 6;
    background-color: blue;
    animation-delay: 2s;
}

.ImageCard:nth-child(2) {
    grid-column: 4 / 6;
    grid-row: 2 / 6;
    background-color: royalblue;
}
.ImageCard:nth-child(3) {
    grid-column: 2 / 4;
    grid-row: 6 / 10;
    background-color: royalblue;
    animation-delay: 2s;
}

.ImageCard:nth-child(4) {
    grid-column: 4 / 6;
    grid-row: 6 / 10;
    background-color: blue;
    
}

.TextArea {
    grid-column: 2 / 7;
    grid-row: 1 / 13;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: var(--grid-auto-rows);
}

.SubTitle {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    display: grid;
    align-items: center;
}

.SubTitle h2 {
    font-size: 2vw;
    font-weight: 600;
    line-height: 1.5;
    
}

.Title {
    grid-column: 1 / 7;
    grid-row: 3 / 5;
    display: grid;
    align-items: center;
}

.Title h1 {
    font-size: 3vw;
    font-weight: 600;
    line-height: 1.5;
    

}

.Text {
    grid-column: 1 / 6;
    grid-row: 5 / 9;
    display: grid;
    align-items: center;
}

.Text p {
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.5;
    
}

.About {
    grid-column: 2 / 4;
    grid-row: 8 / 11;
    display: grid;
    place-items: center;
    
    animation-delay: 2s;
}

.AboutButton {
    height: 3vw;
    width: 14vw;
    text-align: center;
    display: grid;
    place-items: center;
    background: var(--color-gradient);
    border-radius: 2vw;
    cursor: pointer;
}


.AboutButton a {
    font-size: 1.2vw;
    font-weight: 500;
}


@media screen  and (max-width: 560px) {
    .section03 {
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: var(--grid-template-columns-mobile);
        grid-auto-rows: var(--grid-auto-rows-mobile);
    }

    .ImageCardArea {
        grid-column: 1 / 7;
        grid-row: 1 / 5;
        width: 90%;
        height: calc(100svh / 3);
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .ImageCard{
        width: 45vw;
        height: calc(100svh / 6);
        border-radius: 5vw;
    }

        
    .ImageCard:nth-child(1) {
        grid-column: span 1;
        grid-row: span 1;
        background-color: blue;
    }

    .ImageCard:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
        background-color: royalblue;
    }
    .ImageCard:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
        background-color: royalblue;
    }

    .ImageCard:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
        background-color: blue;
        
    }

    .TextArea {
        width: 90%;
        grid-column: 1 / 7;
        grid-row: 3 / 7;
        grid-auto-rows: var(--grid-auto-rows-mobile);
    }
    
    .SubTitle {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        display: grid;
        align-items: center;
    }

    .SubTitle h2 {
        font-size: 5vw;
        font-weight: 600;
    }

    .Title {
        grid-column: 1 / 7;
        grid-row: 1 / 3;
        display: grid;
        align-items: center;
    }

    .Title h1 {
        font-size: 6.5vw;
        font-weight: 600;
        line-height: 1.5;
    }

    .Text {
        grid-column: 1 / 7;
        grid-row: 2 / 5;
        display: grid;
        align-items: center;
    }

    .Text p {
        font-size: 4vw;
        font-weight: 400;
        line-height: 1.5;
        
    }

    .About {
        grid-column: 1 / 7;
        grid-row: 6 / 8;
    }

    
    .AboutButton {
        height: 12vw;
        width: 36vw;
        border-radius: 6vw;
    }


    .AboutButton a {
        font-size: 4vw;
    }
}

@keyframes fadeUpAnime {
    0% {
        opacity: 0;
        transform: translateY(2vw);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
