.section02 {
    padding: 80px 0;
    width: 100%;
    opacity: 0;
}

.animate {
    animation: fadeUpAnime 0.5s forwards;
}

@media screen and (min-width:561px) and (max-width:1079px) {
    .section02 {
        width: 100%;
    }

    
}

@media screen  and (max-width: 560px) {
    .section02 {
        width: 100%;
        padding: 80px 0 0 0;
    }

   

}

@keyframes fadeUpAnime {
    0% {
        opacity: 0;
        transform: translateY(2vw);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
